* {
    box-sizing: border-box
}

body {
    font-family: system-ui;
    margin: 0;
    padding: 20px;
    background: #f6f7fb
}

main {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px
}

img.avatar {
    width: 48px;
    height: 48px;
    border-radius: 6px
}